._d/*
._bcdi/*
*.cmi
*.cmo
*.s
test/*
!test/*.ml
bytemark/Makefile
float.o
min-caml
min-caml.top
lexer.ml
parser.ml
parser.mli
shootout/Makefile
simm.ml
virtual.ml
libmincaml.S
asm.ml*
emit.ml
regAlloc.ml
!CoreWe3/*